@import './variables.less';
@import './mixins.less';

.khaleesi {
  float: left;
  background: @panel-background;

  .container(@row-size, @horizontal-spacing, @vertical-spacing) {
    .clearfix;

    & > div {
      float: left;
      margin-bottom: @vertical-spacing;
      margin-right: @horizontal-spacing;

      &:nth-child(@{row-size}n) {
        margin-right: 0;
      }

      &:nth-child(@{row-size}n + 1) {
        clear: left;
      }

      &:nth-last-child(-n + @{row-size}) {
        margin-bottom: 0;
      }
    }
  }

  .months {
    .container(@months-per-row, @month-horizontal-spacing, @month-vertical-spacing);
    padding: @months-padding;
  }

  .day-labels {
    .container(7, @day-horizontal-spacing, @day-vertical-spacing);
    margin-bottom: @day-vertical-spacing;
  }

  .weeks {
    .container(7, @day-horizontal-spacing, @day-vertical-spacing);
  }

  .day-base {
    width: @day-width;
    height: @day-height;
    line-height: @day-height;
    text-align: center;
  }

  .day-label {
    background: @day-label-color;
    font: @day-label-font;
    color: @day-label-font-color;
    .day-base;
  }

  .day {
    background: @day-default-color;
    font: @day-font;
    color: @day-font-color;
    .day-base;

    &.hover {
      background: @day-hover-color;
    }

    &.selected {
      background: @day-selected-color;
    }

    &.arrival {
      background: @day-arrival-color;
    }

    &.departure {
      background: @day-departure-color;
    }
  }
}