@import 'variables.less';
@import 'mixins.less';

.khaleesi {
  float: left;
  background: @panel-background;

  .month-nav {
    position: relative;

    .btn-base {
      position: absolute;
      top: 6px;
      cursor: pointer;
      .user-select(none);
    }

    .previous-button {
      .btn-base;
      .arrow-left(@nav-button-width, @nav-button-height, @nav-button-color);
      left: @months-padding;
    }

    .next-button {
      .btn-base;
      .arrow-right(@nav-button-width, @nav-button-height, @nav-button-color);
      right: @months-padding;
    }
  }

  .months {
    .table(@months-per-row, @month-horizontal-spacing, @month-vertical-spacing);
    padding: @months-padding;
  }

  .month-label {
    .user-select(none);
    font: @month-label-font;
    color: @month-label-font-color;
    text-align: center;
  }

  .day-labels {
    .table(7, @day-horizontal-spacing, @day-vertical-spacing);
    margin-bottom: @day-vertical-spacing;
  }

  .weeks {
    .table(7, @day-horizontal-spacing, @day-vertical-spacing);
  }

  .day-base {
    width: @day-width;
    height: @day-height;
    line-height: @day-height;
    text-align: center;
  }

  .day-label {
    background: @day-label-color;
    font: @day-label-font;
    color: @day-label-font-color;
    .user-select(none);
    .day-base;
  }

  .day {
    position: relative;
    background: @day-default-color;
    font: @day-font;
    color: @day-font-color;
    cursor: pointer;
    .user-select(none);
    .day-base;

    &.selected {
      background: @day-selected-color;
    }

    .number {
      position: absolute;
      top: 0;
      left: 0;
      width: @day-width;
      height: @day-height;
    }

    .decoration {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
    }

    &.arrival:not(.departure) .decoration {
      border-style: solid;
      border-width: 0 0 @day-height @day-width;
      border-color: transparent transparent @day-selected-color transparent;
    }

    &.departure:not(.arrival) .decoration {
      border-style: solid;
      border-width: @day-height @day-width 0 0;
      border-color: @day-selected-color transparent transparent transparent;
    }

    &.arrival.departure .decoration {
      width: @day-width;
      height: @day-height;
      background: @day-selected-color;
    }
  }
}