@day-width: 40px;
@day-height: 40px;
@day-default-color: gray;
@day-selected-color: yellow;
@day-arrival-color: red;
@day-departure-color: red;
@day-horizontal-spacing: 1px;
@day-vertical-spacing: 1px;